.mosaic-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .work-item {
        flex: 0 1 auto;
        justify-content: space-between;
        margin-bottom: 4em;

        .thumbnail {
            display: block;
            overflow: hidden;
            background-color: var(--bg-faded);
            height: 0;
            position: relative;
        
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        img {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .landscape-4,
    .landscape-6,
    .portrait-3,
    .portrait-4 {
        width: 100%;
    }

    .landscape-4 .thumbnail,
    .landscape-6 .thumbnail,
    .portrait-3 .thumbnail,
    .portrait-4 .thumbnail {
        padding-top: calc(9 / 16 * 100%);
    }

    @media screen and (min-width: $medium) {
        .work-item {
            margin-bottom: 0;
        }
    
        .landscape-4 {
            width: $column5;
            margin-right: $column2;
        }
        
        .landscape-6 {
            width: $column6;
            margin-left: $column2;
            margin-top: $column1;
        }
        
        .portrait-3 {
            width: $column4;
            margin-top: -$column3;
        }
        
        .portrait-4 {
            width: $column5;
            margin-top: $column1;
        }
    
        .landscape-4 .thumbnail,
        .landscape-6 .thumbnail {
            padding-top: calc(9 / 16 * 100%);
        }
    
        .portrait-3 .thumbnail,
        .portrait-4 .thumbnail {
            padding-top: calc(4 / 3 * 100%);
        }

        a .content  { 
            margin-top: 1.5rem;

            p {
                transform: translateY(0);
                transition: .3s transform .1s ease;
            }

            h3 {
                transform: translateY(0);
                transition: .3s transform ease;
            }
        }
        
        a:hover .content  { 
            p, h3 {
                transform: translateY(.5rem);
            }
            
        }
        
        a .thumbnail img  { 
            transform: scale(1);
            transition: .3s transform ease;
        }
        
        a:hover .thumbnail img  { 
            transform: scale(1.1);
        }
    }
}
