.contact {
    .contact-info {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .contact-item {
        margin-bottom: 3rem;
        .h2 {
            margin-bottom: .75rem;
        }
    }
}